<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MakeALoanOrderMapper">

    <insert id="add" parameterType="com.fenlibao.p2p.model.trade.entity.order.T6505" >
        INSERT INTO s65.t6505 (F01,F02,F03,F04,F05) VALUES (#{F01},#{F02},#{F03},#{F04},#{F05})
    </insert>
    
    <select id="get" resultType="com.fenlibao.p2p.model.trade.entity.order.T6505">
        SELECT F01, F02, F03, F04, F05 FROM S65.T6505 WHERE T6505.F01 = #{id} LIMIT 1
    </select>
</mapper>