<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LockMapper">
	<insert id="createLock" parameterType="java.util.Map">
		INSERT INTO flb.t_request_no_lock(request_no,`STATUS`) VALUES (#{requestNo},#{status})
	</insert>
</mapper>