<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fenlibao.dao.pms.common.clienttype.ClientTypeMapper">
    <select id="getClientTypes" resultType="ClientType">
        SELECT
            id,
            code,
            name
        FROM
            flb.t_client_type
    </select>

    <select id="getClientTypeByCode" parameterType="String" resultType="ClientType">
        SELECT
            id,
            code,
            name
        FROM
            flb.t_client_type
        WHERE
            code = #{code}
    </select>

    <select id="getClientTypeById" parameterType="Integer" resultType="ClientType">
        SELECT
            id,
            code,
            name
        FROM
            flb.t_client_type
        WHERE
            id = #{id}
    </select>
</mapper>